
    
    ion-content{
        background-image: url('../../assets/imgs/birthday.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        
    }




h1{
    text-align: center;
    font-style:italic;
    font-size: 30px;
    
}


ion-footer{
    text-align: center;
    font-size: 30px;
    font-style:italic;
}
ion-title{
    text-align: center;
}
